@import '../../styles/variables.scss';


.player_container {
  /*display: block;*/
  position: fixed;
  justify-content: center;
  bottom: 200px;
  width: 100%;
  left: 0;
  bottom: 0;
  /*height: 15%;**/
  /*background-color: $main_color;*/
  z-index: 1;
  transform: scale(0);
  /*margin-bottom: 20px;*/
}

.player {
//  width: 80%;
  height: 90%;
}

.time_line_container {
  background-color: $main_color;
}

.time_line {
  width: 80%;
  position: relative;
  margin: auto;
  padding-bottom: 10px;
}

.player_container.active {
  transform: scale(1);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

#close_player_btn {
  display: none;
  position: absolute;
  color: #fff;
  top: 0;
  right: 5px;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
}



////////// PLAYER MODAL

