@import '../../styles/variables.scss';

.theme_container {
  //position: absolute;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.theme_box {
  border: solid;
  border-color: #fff ;
  margin: auto auto 15px auto;
  margin-top: 15px;
}

.theme_box:hover {
  border-color: $theme_color ;
}


.theme_item {
  width: 15px;
  height: 15px;
  background-color: $theme_color;
}
